.Home .Learn-more{
    margin: 50px 0;
}
.Home .Learn-more::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: #f7f7f7;
    margin-top: 60px;
}
.Home .Learn-more__content{
    height: 620px;
}
.Home .Learn-more__form {
   background-image: url(../../../../assets/img/background/bg4.jpg);
   background-size: cover;    
}
.Home .Learn-more__form::before{
    width: 100%;
    height: 100%;
    z-index: 5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(48,48,48,.95);
}
.Home .Learn-more__form form{
    z-index: 6;
    position: relative;
    width: 75%;
}
.Home .Learn-more__form .Form__header{
    margin-bottom: 30px;
}
.Home .Learn-more__form .Form__header h2{
    margin-bottom: 30px;
}
.Home .Learn-more__form form input,
.Home .Learn-more__form form textarea{
    border-width: 0px;
    background-color: transparent;;
    border-bottom: 1px solid #525252;
    border-radius: 0;
    height: 50px;
    outline: none;
    padding-left: 0;
    margin-bottom: 15px;
}
.Home .Learn-more__form form input:focus{
    border-width: 0px;
    outline: none;
    border-bottom: 1px solid var(--orange);
    z-index: 1;
}
.Home .Learn-more__form form input::placeholder,
.Home .Learn-more__form form textarea{ 
    color: #fff;  
		
}
.Home .Learn-more__form form textarea{
    height: 100px;
    resize: none;
}
.Home .Learn-more__form form button{
    height: 50px;
    width: 150px;
    border: none; 
}
.Home .Learn-more__Faq {
    padding-left: 80px;
    box-sizing: border-box;
}
.Home .Faq__content{ 
    margin-top: 40px;
}
.Home .Faq__questions{
    border: 1px solid #d2cbcb;
} 
.Home .Faq__questions-item .Questions__title{
    height: 60px; 
    cursor: pointer;
}
.Home .Faq__questions-item .Questions__title h3{
    margin-left: 15px;
}
.Home .Faq__questions-item .Questions__description{
    height: 0; 
    visibility: hidden;
    padding: 0 40px;
    box-sizing: border-box;
    transition: all .4s ease-in;
}
.Home .Faq__questions .Faq__questions-item:not(:nth-child(3)){
    border-bottom: 1px solid #d2cbcb;
}
.Home .Faq__plus{
    width: 60px;
    height: 60px;
}
.Home .Learn-more .open--question{
    background-color: #000;
    color: White;
}
.Home .Learn-more .open--question ~ .Questions__description{
   height: 135px;
   visibility: visible;
}
.Home .Learn-more .open--question .Faq__plus{
    background-color: var(--orange);
}

@media (max-width: 991.98px) {
    .Home .Learn-more__Faq {
        padding-left: 40px; 
    }
}
@media (max-width: 768px) { 
    .Home .Learn-more__form{
        padding: 40px 0;
        background-position-y: -100px;
    }
    .Home .Learn-more__Faq{
        margin-top: 40px;
        padding: 0 15px;
    }
    .Home .Learn-more__content{
        padding: 0;
    }
    .Home .Learn-more__content{
        height: auto;
    }
}
@media (max-width: 400px) { 
    .Home .Learn-more .open--question ~ .Questions__description{
        height: 170px;
        visibility: visible;
     }
}