.Project .Project-header{
    position: absolute;
    top: 0;
    height: 400px;
    width: 100%;
}
.Project .Project-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../../assets/img/background/bg12.png);
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position: center,-30px;
    z-index: -1;
    filter: brightness(0.5);
}
.Project .Project-header__text{
    padding: 50px 0;
    box-sizing: border-box;
}
.Project .Project-header__text h4 a{
    transition: all .3s ease-in-out;
}
.Project .Project-header__text h4 a:hover{
    color: blue!important;
}