.Home .Slider{
   top: 0;
   height: 800px;
}  
.Home .Slider__items{
   width: 400vw;
}
.Home .Slider__item .Slider__image{ 
   top: 0;
   left: 0;
   height: 800px;
   z-index: -1;
   background-size: 1920px;
   background-position:center;
   background-repeat: no-repeat;
}
.Home .Slider__item-content{
   margin-top: 50px;  
}
.Home .Slider__item:nth-child(1) .Slider__image, 
.Home .Slider__item:nth-child(4) .Slider__image{ 
   background-image: url(../assests/img/Slider/slider3.jpg); 
}
.Home .Slider__item:nth-child(2) .Slider__image{ 
   background-image: url(../assests/img/Slider/slider1.jpg); 
}
.Home .Slider__item:nth-child(3) .Slider__image{ 
   background-image: url(../assests/img/Slider/slider2.jpg); 
}
.Home .Slider__header h4::before{
   content: '';
   position: absolute;
   right: 0;
   width: 40px;
   height: 2px;
   background-color: var(--orange);
   transform: translate(60px,15px);
}
.Home .Slider__item:nth-child(3) .Slider__header{
   transform: translateX(-64px);
}
.Home .Slider__description h1,
.Home .Slider__description p,
.Home .Slider__button{
   opacity: 0;
   transform: translateX(25%);
}
.Home .Slider__button button{
   width: 164px;
   height: 55px;
   cursor: pointer;
   position: relative; 

}
.Home .Slider__button button:first-child{
   margin-right: 32px;
}
.Home .Slider__button button:hover{
   color:white;
}
.Home .Slider__button button:hover:last-child{
   background-color: var(--orange); 
   border-color: var(--orange); 
}
.Home .Slider__nav{
   top: 0;   
   right: 0;
}
.Home .Slider__nav-item{
   width: 8px;
   height: 8px;
   z-index: 10; 
   cursor:pointer;
   background-color: rgba(255, 255, 255, 0.2);
   z-index: 50;
}
.Home .active--nav{
   border: 2px solid #fff;
}
.Home .fade-in-title{
   animation:  fade-in .7s cubic-bezier(0.69, 0.69, 0.41, 0.9) forwards .8s;
}
.Home .fade-in-text{
   animation:  fade-in .7s cubic-bezier(0.69, 0.69, 0.41, 0.9) forwards .9s;
}
.Home .fade-in-btn{
   animation:  fade-in .7s cubic-bezier(0.69, 0.69, 0.41, 0.9) forwards 1s;
}
.Home .fade-out-title{
   animation:  fade-out .3s cubic-bezier(0.69, 0.69, 0.41, 0.9) forwards;
}
.Home .fade-out-text{
   animation:  fade-out .3s cubic-bezier(0.69, 0.69, 0.41, 0.9) forwards;
}
.Home .fade-out-btn{
   animation:  fade-out .3s cubic-bezier(0.69, 0.69, 0.41, 0.9) forwards;
}
@keyframes fade-in {
   from{opacity: 0; transform: translateX(25%);}
   to {opacity: 1; transform: translateX(0%);}
}
@keyframes fade-out {
   from{opacity: 1; transform: translateX(0%);}
   to {opacity: 0; transform: translateX(25%);}
}
@media screen and (max-width: 768px) {
   .Home .Slider__description h1{
      font-size: 26px;
   }
} 